.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.date {
  font-family: Inter;
  font-weight: var(--font-weight-regular);
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 0.9rem 0.75rem;
  border-radius: var(--border-radius-small);
  margin-bottom: 1rem;
}

.title {
  font-family: Inter;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-medium);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.border {
  border: 2px solid var(--color-blue-gray);
  border-radius: var(--border-radius-small);
  transition: background 200ms ease;

  &:hover {
    background: rgba(0, 0, 0, 0.01);
  }
}

.time {
  color: var(--color-black);
  font-weight: var(--font-weight-medium);
}

.grid2Cols {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.col10 {
  width: 10%;
}
.col15 {
  width: 15%;
}
.col20 {
  width: 20%;
}
.col25 {
  width: 25%;
}
.col40 {
  width: 40%;
}
.col50 {
  width: 50%;
}

.col10,
.col15,
.col20,
.col25,
.col40,
.col50 {
  @media (max-width: 768px) {
    width: 100%;
  }
}

.scheduleRow {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1rem;
  background: #f5f5f5;
  border-top: 1px solid var(--color-blue-gray);
  margin-top: 0.5rem;
}

.scheduleRowTitle {
  font-family: Inter;
  color: var(--color-black);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-small);
}

.desc {
  font-family: Inter;
  font-weight: var(--font-weight-light);
  font-size: 14px;
}

.timeCell {
  font-weight: var(--font-weight-semi-bold);
}

.tracksFilter {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-blue-gray);
  border-radius: var(--border-radius-small);
  background: var(--color-white);
  font-family: Inter;
  cursor: pointer;

  &:hover {
    border-color: var(--color-blue);
  }
}

.tracksFilterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  padding-bottom: 1.5rem;
}

.tracksFilterText {
  font-weight: var(--font-weight-light);
}

.videoLinkButton {
  cursor: pointer;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  padding: 0.2rem 0.5rem;
  background: var(--color-white);
  border-radius: var(--border-radius-tiny);
  transition: 200ms ease background;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:hover {
    background: var(--color-blue);
    color: var(--color-white);

    .videoLinkSVG path {
      stroke: var(--color-white);
    }
  }

  .videoLinkSVG path {
    stroke: var(--color-blue);
  }
}
